<header>
  <div class = "logo">EMOVIE</div>
  <div class = "nav_links">
    <a href ="#" class="links">Главная</a>
    <a href ="#" class="links">Сериалы</a>
    <a href ="#" class="links">Фильмы</a>
    <a href ="#" class="links">О Нас</a>
  </div>
  <div class = "profile-actions">
    <button class="nav-button">button1</button>
    <button class="nav-button">button2</button>
    <a href ="#" class="profile-container"><img src = "../../../assets/images/profile.png" alt = "picture1" class= "profile-picture"></a>
  </div>
</header>
