
  <section class="movie-category">
    <h2>{{ title }}</h2>
    <div *ngIf="movies && movies.length > 0" class="movies">
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
    </div>
  </section>
  <section class="movie-category">
    <h2>{{ title }}</h2>
    <div *ngIf="movies && movies.length > 0" class="movies">
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
    </div>
  </section>
  <section class="movie-category">
    <h2>{{ title }}</h2>
    <div *ngIf="movies && movies.length > 0" class="movies">
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
      <div *ngFor="let movie of movies" class="movie-card">
        <img class="movie-picture" [src]="movie.poster" [alt]="movie.title">
      </div>
    </div>
  </section>
