<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3 class="footer-title">Use cases</h3>
      <ul class="footer-list">
        <li>UI design</li>
        <li>UX design</li>
        <li>Wireframing</li>
        <li>Diagramming</li>
        <li>Brainstorming</li>
        <li>Glass enhancement</li>
        <li>Team collaboration</li>
      </ul>
    </div>

    <div class="footer-columns">
      <div class="footer-col">
        <h3 class="footer-title">Explore </h3>
        <ul class="footer-list">
          <li>Design</li>
          <li>Prototyping</li>
          <li>Development features</li>
          <li>Design systems</li>
          <li>Collaboration features</li>
          <li>Design process</li>
          <li>Figures</li>
        </ul>
      </div>

      <div class="footer-col">
        <h3 class="footer-title">Resources</h3>
        <ul class="footer-list">
          <li>Blog</li>
          <li>Best practices</li>
          <li>Colors</li>
          <li>Color wheel</li>
          <li>Support</li>
          <li>Debugger</li>
          <li>Resource library</li>
        </ul>
      </div>
    </div>
  </div>
</footer>